html{
    height: 100%;
}

body{
    position: relative;
    width: 100%;
    height: 100%;
}


header.header{
    width: 100%;
    padding: 1%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    z-index: 100;
}

h2.header_tittle{
    font-size: 36px;
}

ul.nav{
    font-size: 20px;
    padding-right:10%;
    list-style: none;
    display: flex;
    color:darkblue;
    font-weight: bold;
}

li.nav{
    padding-right: 20px;
    text-wrap: nowrap;
}

main{
    position: relative;
    height: 100%;
    width: 100%;
}

img.main_buckgrond{
    position: absolute;
    display: block;
    top: 20%;
    width: 50%;
    height: 60%;
    margin-left: 50%;
    z-index: 5;
}

h1.main_slogan{
    z-index: 0;
    font-size: 72px;
    font-weight: lighter;
}

div.blue-box{
    display: block;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 80%;
    height: 60%;
    background-color: darkblue;
    z-index: -10;
}

div.test{
    position: absolute;
    display: block;
    top: 60%;
    height: 40%;
    width: 100%;
}
